body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
  margin: 0 auto;
}
/* region header */
header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  width: 115px;
  height: 24px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
}

.studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-list {
  width: 261px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.address-list {
  font-weight: 400;
  display: flex;
  gap: 40px;
}

.address-header {
  font-style: normal;
}
.contact {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-end;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}

/* region header end */

/* region order-section */
.order-section {
  background-color: #2e2f42;
  color: #ffffff;
}
.order-container {
  max-width: 500px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  justify-content: center;
}
.order-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.order-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
/* region order-section end */

/* region info-section */

.info-container {
  width: 1128px;
  height: 104px;
  padding: 120px 156px;
}
.info-section .list-item-title {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
}
.paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.info-section .section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.info-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.info-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
}

.info-title {
  color: #ffffff;
}

.info-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* region info-section end */
/* region team-section */
.team-section {
  background-color: #f4f4fd;
}
.team-section .team-items {
  background-color: #ffffff;
}
.team-section .section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-section .list-item-title {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
}

.team-container {
  padding: 232px 156px 120px 156px;
}
.team-title {
  color: #f4f4fd;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  border-radius: 0 0 4px 4px;
}
.team-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* region team-section end */
/* region portfolio-section */
.portfolio-section .section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-section .list-item-title {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  padding: 120px 156px;

  align-items: flex-start;
  justify-content: center;
  gap: 72px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}
.portfolio-items {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-icons {
  width: 100%;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* region portfolio-section end */

/* region footer */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer .logo .studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-container {
  width: 1440px;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* region footer end */
